/*
  CSS by Scilenci (#79146).
  Lioden Logo by Katie (#106445).
Borrowed a lot of info from Miko (#116939).
Background image "The Great Day of His Wrath" by John Martin.
  Cave covers by Gustave Doré, mainly from Dante's Divine Comedy illustrations.
*/

body {background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/John_Martin_-_The_Great_Day_of_His_Wrath_-_Google_Art_Project.jpg");background-repeat: repeat-y;  background-position: center;background-attachment: fixed;background-size: 100%;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Times !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(170, 183, 174, 0.3);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
 
/* Topbar */
 
.topbar {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.badge {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
}
 
/* Navigational Bar */
 
.main {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;
}
 
.navbar {
background: rgba(170, 183, 174, 0.3);
border-bottom: 1px solid #000;
color: #000;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #eae9ee;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(170, 183, 174, 0.3);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
 
.col-md-3 .panel {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;    
}
 
.progress-bar {
background: #BEE9F9;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(170, 183, 174, 0.3);
font-size: 11px;
color: #000;
}

.chatContainer {
border: 1px solid #000;
}
 
.userstolen {
background: none;
}

.alert-danger {
color: #000;
background: rgba(176, 98, 65, 0.3);
border: 1px solid #000;
}

.alert-success {
color: #000;
background: rgba(65, 176, 111, 0.3);
border: 1px solid #000;
}

.breadcrumb {
background:  rgba(170, 183, 174, 0.3);
font-size: 13px;
border: 1px solid #000;
}
 
.breadcrumb>.active {
color: #000;
}

.breadcrumb::after {
    content: ". * · ˚. φ ✧ <3 . °";
    color: #000000;
    position: absolute;
    right: 13%;
    z-index: 100;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
opacity: 1;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://puu.sh/COuew/116fdb5676.png');
}
 
.table, .item {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: 0;
border: 0px solid #000;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(0, 0, 0, 0);
color: #000;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #d8d8d8;
color: #000;
}

.table .left {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
color: #000;
}

.inner-table .right {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-left: none;
}

.credit {
	background: rgba(170, 183, 174, 0.3);
	border: 1px solid #000;
  border-left: none;
}

/* stupid scroll bar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: rgba(46, 58, 230, 1);
	border-radius: 4px;
}

/* all images */

/* PREG LIONESSESS */
div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhLnaJgvEZkWou6sRpuP0SLpidvJxtIpCmYX6yEPzO6D9a13xZazZQPnosH0T7stQCGXu2xzq-YCxAR9ORx1uXGmJXChlRCs6xMjlazGEwfSfoyGY9OycTUBZIdLdFpHLeqOA-oZMA31tAo67Jg7bZv3uAOd1Td9qhcJmHLNXFstc5VM_UxLExuFZeXSQ/s1269/14.png')!important;
	opacity: 0.8;
}
/*cave 1 = khajiiti pantheon 1 */
a[href$="246784"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi79tWVcCHQAxqnTReY0Yyc0vFYwNazbds3lumUaGZKRj_Cp7wi_gmShNLsY5Gl3RR8jPJg8XskogMU8mrZ_1M9dDP2Lp9SVB1DIezkPMhp0Q4VSs1y5vG_f8UTeFoEmyYfjIgNyZ3wzwJOXhqd8KuIUOWIduPRPA5nNcylbzOQm1BAx5QHZwbRrg_Ahg/s1080/15.png')!important;
	opacity: 0.8;
}
/*cave 2 = khajiiti pantheon 2 */
a[href$="220608"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgIGEEmET7UZYLUMikU0B76yraz9ZNVhD2iRLbCFOx2XlmzFXfwse1OKXy-6K8OQKCg8UBhrIrsbS7o88pUDQcTqxJRc-w4VX_CpIrRcbkgIhSrTZg0NHN4dYCrvCak40NC9KTK9YKfNq_YA7ey4eVFrNzLIz5JWzomsWFX8G8LdcxvIkdSLSYsuazYqA/s700/imagem_2022-07-30_180243345.png')!important;
	opacity: 0.8;
}
/*cave 3 = the void*/
a[href$="258775"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDXq9lftpzDlAuw7GVDZJee6OAjbnI8rnubN9Z0EwxwFcQYY7ZEsNNiX6qG8S5rncUcDBIulKuP2Hc9hTbJJ56tvnI2XqfqvZ9yqV58Ksg-T6nmwe_g599L0jUjdB8T3HMNRSW8b4POh4MMCX4kjOyAzZlYNncBfZxq0T9650HmsDiV5GlqCNc6sWpaA/s750/12.png')!important;
	opacity: 0.8;
}

/* UNSORTED LIONS */
a[href$="unsorted.php?id=280104"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhs5DLWvmhwCwgNVu8GjP0-EAa7FyTREW6iCLmDW_-jBz1vEEsRuI8spOaQMRKBoCrUbXIuohKPmB6Xnp2fbRFknoVI8BgIqh98vEuMufxPyeWViMLTkBCHizwBv5PBusm0ETnKLli08hgXAr9m-pkKZ6kEO0M9R5rz4xPgGmN2uhJzMr1oBgYtPS1IXQ/s1280/11.png')!important;
	opacity: 0.8;
}
/* LION OVERVIEW*/
a[href$="lionoverview.php?id=280104"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgL_d6uNKuxNxzdlWfXzjMD1NvDWFQgp_e_UlSHDWp5NrjPOMFnCZgdB_m99JIPM0w3Gs-p_CL8SA8KN4Z72I0aNNmjYONn95p5G4YMCltgykfj5BLIZSCto826A6kGjlDj2EPJmrIhe4nCnupp4SQdxymSD_7XiQHfADl_dX9iJ_quwZrc06rh0lDK9g/s1117/imagem_2022-08-13_163402571.png')!important;
	opacity: 0.8;
}
/* BEETLE DUMP 
.mound-grid img {
	background: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEip4VU_xaGCVtcKdOjy57VrLKONxWOQrYCmvQPy3Waa6Tcqzv1YNs-xparhab0h529KIB9VmBiXjuL2aCHDCzCSgGHLEid98PIMN8Ugc-W0Uw2M0VHimTyEu6uifUGJLDupvYsvivb3jj136do_gbDlYtOa6nIfPTu2XBU91ta3lbAV4dMIPYQDhrDNFA/s952/18.png');
	opacity: 0.8;
	padding-top: 80px;
	padding-right: 130px;
}*/

/*Boxes*/
.boxcontainer {height: 400px;background: none !important;padding:23px}
.scrollyleft {overflow: auto;float:left;height: 350px; width: 400px;background: rgba(255,255,255,0.3);border-radius: 10px;border: 1px solid black;color: black;padding 5px;margin: auto; margin-bottom: 10px;}
.scrollyright {overflow: auto;float:right;height: 170px;width: 350px;background: rgba(255,255,255,0.3);border-radius: 10px;border: 1px solid black;color: black;padding 5px;margin: auto; margin-bottom: 10px;}
.scrollyleft::-webkit-scrollbar {width: 12px;}
.scrollyleft::-webkit-scrollbar-track {background: #ffffff;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
.scrollyleft::-webkit-scrollbar-thumb {border-radius: 10px;background: rgba(46, 58, 230, 1);box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.scrollyright::-webkit-scrollbar {width: 12px;}
.scrollyright::-webkit-scrollbar-track {background: #ffffff;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
.scrollyright::-webkit-scrollbar-thumb {border-radius: 10px;background: rgba(46, 58, 230, 1);box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur246.ani), url(https://cur.cursors-4u.net/cursors/cur-3/cur246.png), auto !important;} /* End https://www.cursors-4u.com */
