/*
  CSS by Scilenci (#79146).
  Lioden Logo by Katie (#106445).
Borrowed a lot of info from Miko (#116939).
Background image "The Great Day of His Wrath" by John Martin.
  Cave covers by Gustave Doré, mainly from Dante's Divine Comedy illustrations.
*/

body {background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/John_Martin_-_The_Great_Day_of_His_Wrath_-_Google_Art_Project.jpg");background-repeat: repeat-y;  background-position: center;background-attachment: fixed;background-size: 100%;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Times !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* LINK COLOR */

a:link,
a:visited {
	color: #000000 !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #0000de !important
}

/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 0.8
}

table#player img {
	opacity: 0.8
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(170, 183, 174, 0.3);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
 
/* Topbar */
 
/*
  CSS by Scilenci (#79146).
  Lioden Logo by Katie (#106445).
Borrowed a lot of info from Miko (#116939).
Background image "The Great Day of His Wrath" by John Martin.
*/

body {background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/John_Martin_-_The_Great_Day_of_His_Wrath_-_Google_Art_Project.jpg");background-repeat: repeat-y;  background-position: center;background-attachment: fixed;background-size: 100%;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Times !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(170, 183, 174, 0.3);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
 
/* Topbar */
 
.topbar {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.badge {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
}
 
/* Navigational Bar */
 
.main {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;
}
 
.navbar {
background: rgba(170, 183, 174, 0.3);
border-bottom: 1px solid #000;
color: #000;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #eae9ee;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(170, 183, 174, 0.3);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
 
.col-md-3 .panel {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;    
}
 
.progress-bar {
background: #BEE9F9;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(170, 183, 174, 0.3);
font-size: 11px;
color: #000;
}

.chatContainer {
border: 1px solid #000;
}
 
.userstolen {
background: none;
}

.alert-danger {
color: #000;
background: rgba(176, 98, 65, 0.3);
border: 1px solid #000;
}

.alert-success {
color: #000;
background: rgba(65, 176, 111, 0.3);
border: 1px solid #000;
}

.breadcrumb {
background:  rgba(170, 183, 174, 0.3);
font-size: 13px;
border: 1px solid #000;
}
 
.breadcrumb>.active {
color: #000;
}

.breadcrumb::after {
    content: ". * · ˚. φ ✧ <3 . °";
    color: #000000;
    position: absolute;
    right: 13%;
    z-index: 100;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
opacity: 1;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://puu.sh/COuew/116fdb5676.png');
}
 
.table, .item {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: 0;
border: 0px solid #000;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(0, 0, 0, 0);
color: #000;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #d8d8d8;
color: #000;
}

.table .left {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
color: #000;
}

.inner-table .right {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-left: none;
}

.credit {
	background: rgba(170, 183, 174, 0.3);
	border: 1px solid #000;
  border-left: none;
}

/* stupid scroll bar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: rgba(46, 58, 230, 1);
	border-radius: 4px;
}

/* all images */

/* PREG LIONESSESS */
div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh10GaR7n3SIycmoX5N-Oczj-XzLia5bV7WaHcsHtwx4d96ejx49QBeNfzLGApOBH7MV0-2DsaKCW8P3YBD9p-p-PwfsunKC_lxsS_cY2FBnD1lvKrQ8J5p3JusvI5ToviMEFZ7uupVUNIqY30_H-xVNXBlq4PlVXHtwOle4eesr4XHrlSDJrotgzlm6g/s1287/2.png')!important;
	opacity: 0.8;
}
/*cave 1 = ELSWEYR */
a[href$="217730"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjVEEJ1Mht9pYoM5MDDRenA8Z3bbj1iojPuZZ2PT7r1HDR0NqxV_JzEAiZf4rUSoM2kcckMECDHCMGwnDqo2lKK6Z2xOB5jEfVAl4yFrSAvKbsBwExKc59YoCDMxtm33Tdqw-UFnlgLsKFbeSy7ihMdB9j0v3kormdccDzwVsl5XUAzaQabedu0r2qo3Q/s961/4.png')!important;
	opacity: 0.8;
}
/*cave 2 = SKYRIM */
a[href$="220854"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg_DJV_kyvDvcHn0gkslvVW5X4Y-LOoewIGpb9Y9hsYY3utXdhGrTzwu2dv2nUIt_jjBQ7-3P97wf-tinirk-G9qukd7PJ7g-pc3YdINLU1MsW3VNmpy-l7cmE8npYrxd4K58EKDb-GN0Iq965Vliq9xxCb5wDvOtHegS9I_XxMysqRTLHVDTv_AA-_ZQ/s599/1.png')!important;
	opacity: 0.8;
}
/*cave 3 = VALENWOOD */
a[href$="257761"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjZoRLL-IvZljfhiJBiVlt8aZ7rD7LAA_nKTk0OKKmLN0fZLbeaG_4k5vzynKjlnLikR2mpqNQSsv8Epz-4P3RX3VWcsSCv3T23wV8RS2Ggk4aASLY-iuPpdngIf0-BPjDNFNrwrK1Djkx0C-rSSOjfq6ZkTNgxBc84Qyq5ua2SFChTWYbfCj9AWpHIjQ/s1080/6.png')!important;
	opacity: 0.8;
}

/* UNSORTED LIONS */
a[href$="unsorted.php?id=210424"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEib3fs6TRhwgZz5E-xXrt2yH_VA7943i--HS9zoqIrRyJvI3ybIGurjYSF9LHX9Eqj4MtGSoGdByDZaftt7fZSsuEg95nAhvSPGcxBiPqmD5n1DN9tZrejMcejeA_aT3EV6d46k3hfjexdqXLs8t3WMnNq0AkXi59FKRNOsUkZmzuWkan6rSodBv3x8CQ/s1050/5.png')!important;
	opacity: 0.8;
}
/* LION OVERVIEW*/
a[href$="lionoverview.php?id=210424"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg2IzTb5T5LZh0IApLz9WWPQcTljKQ3HcV9CxcSANa_vXnmwO6Vhi4IvEmne2FfLrP82bSNRn_YNJtpWmoZaQk-A3yio28M5XQD0eO8XOuHb-9HjBb7NQM7DVZDrKXKD0oXYr2aYTviDWvocaj63nKlrOfdZ0fOtkOUbFDK84Qsg9H37ch5uAOWntpW3A/s1080/3.png')!important;
	opacity: 0.8;
}
.mound-grid img /* Mound(s) */ {
	background: url("https://64.media.tumblr.com/4124273a0203530bf6186bec7f40f453/8b98ec058a3bc146-55/s640x960/05da73b4781832c87ee38c1b1550e8f56b2794e3.jpg");
	width: 25%;
	height: 25%;
	opacity: 0.8;
}
a[href$="unsorted-beetles.php?id=280104"]>div.mound-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg5hgxQoYg7Ji88jiTl-NXKu5Wm3vBLekhwlntBfF4nc8zuW3c4idfBvhfVvU_bA7Qv4D1IXgjSMZRlIZ3ooVvcB6yQctc2rZIkoEYGv503sDzOCgHPsOu8uKVGBhmslQtHWFOTvC4RSnAFVR0fDrh6XqQbvJ4Cj6r9u6Uop1gbhV7NpaogToRbEYUtAA/s673/tumblr_4124273a0203530bf6186bec7f40f453_05da73b4_640.png')!important;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}
		
a[href$="mound.php?id=126551"]>div.mound-grid>img {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgn4SXzDkT7ziVeC04slLSH8IcRRyB9jH2EC6Kjn_zb2kOevrSt4HLKAF8x5LIGLAR0mm6H-qfrjOEv7zHcRvrDFmki6GH4DDNLdxIGm-LZcnheH805gbsT1FMIrwpW8ZrzZy941f9fot75J1GOx95bSYqcUUCPWbNo0N311i3RGoekxr8q8DrnnMZx1Q/s673/tumblr_4124273a0203530bf6186bec7f40f453_05da73b4_640(1).png')!important;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}

/*Boxes*/
.boxcontainer {height: 400px;background: none !important;padding:23px}
.scrollyleft {overflow: auto;float:left;height: 350px; width: 400px;background: rgba(255,255,255,0.3);border-radius: 10px;border: 1px solid black;color: black;padding 5px;margin: auto; margin-bottom: 10px;}
.scrollyright {overflow: auto;float:right;height: 170px;width: 350px;background: rgba(255,255,255,0.3);border-radius: 10px;border: 1px solid black;color: black;padding 5px;margin: auto; margin-bottom: 10px;}
.scrollyleft::-webkit-scrollbar {width: 12px;}
.scrollyleft::-webkit-scrollbar-track {background: #ffffff;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
.scrollyleft::-webkit-scrollbar-thumb {border-radius: 10px;background: rgba(46, 58, 230, 1);box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.scrollyright::-webkit-scrollbar {width: 12px;}
.scrollyright::-webkit-scrollbar-track {background: #ffffff;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
.scrollyright::-webkit-scrollbar-thumb {border-radius: 10px;background: rgba(46, 58, 230, 1);box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur246.ani), url(https://cur.cursors-4u.net/cursors/cur-3/cur246.png), auto !important;} /* End https://www.cursors-4u.com */
